body {
position: absolute;
background: -webkit-linear-gradient(270deg, #1C8572 0%, #005A8C 100%);
background-blend-mode: screen;
mix-blend-mode: normal;
}

html {
    height: 100vh;
}

.name {
    /* position: absolute; */
    width: 289px;
    height: 106px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 53px;
    /* or 126% */
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
    
    opacity: 0.9;
    padding: 10px;
    margin-top: 0px;
}

img {
    /* position: absolute; */
    width: 280px;
    height: 274px;
    opacity: 0.9;
    padding: 10px;
}

.aboutMe {
    /* Software Developer San Diego, CA */

/* position: absolute; */
width: 289px;
height: 81px;
margin-left: 10px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
/* or 146% */
letter-spacing: 0.09em;

color: #FFFFFF;

opacity: 0.9;

}





