html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1c8572, #005a8c 100%);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-attachment: scroll;
  mix-blend-mode: normal;
}

* {
  font-family: "Calibre", "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
}

body {
  padding: 0;
  margin-left: 4rem;
  margin-right: 4rem;
}

.header {
  color: #fff;
  font-size: 2rem;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-nav {
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
  color: #fff;
  justify-content: space-between;
  width: 25rem;
}

@media screen and (max-width: 480px) {
    .header {
        font-size: 1.2rem;
    }

    .main-menu-nav {
        width: 14rem;
        display: flex;
        justify-content: space-evenly;
    }

    body {
      margin-left: 2rem;
      margin-right: 2rem;
    }
}

.homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.homepage h2 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.9;
}

img {
  width: 280px;
  height: 274px;
  opacity: 1;
  object-fit: cover;
}

.bio {
  display: flex;
  flex-direction: column;
}

.aboutMe {
  width: 290px;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 30px;
  letter-spacing: 0.09em;
  color: #ffffff;
  margin-right: 1rem;
}

.aboutMe h3 {
  font-weight: 100;
}

.skills {
  font-weight: 100;
  font-size: 1.25rem;
  letter-spacing: 0.09em;
  flex-direction: column;
  color: #ffffff;
}

.skills h3 {
  font-weight: 100;
}

.experience {
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.experience ul li {
  padding: .2rem 0;

}

.experience h2 {
  font-weight: 100;
}
