
body {
    background: linear-gradient(to bottom, #1C8572, #005A8C 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-attachment: scroll;
    mix-blend-mode: normal;
    display:flex;
    flex-flow: row wrap;
    align-items:flex-start;
    justify-content: space-evenly;
    flex: 1 1 100;
}

body:before {
    content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
    height: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, #1C8572, 0.2, #005A8C 75%);
    background-attachment: scroll;
}

html {
   margin: 0;
}

.name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
    
    opacity: 0.9;
    margin:auto;
}

img {
    /* position: absolute; */
    width: 280px;
    height: 274px;
    opacity: 0.9;
}

.bio {
    display: flex;
    flex-direction: column;
    flex: 1 1 100;
}

.aboutMe {
    width: 290px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.09em;

    color: #FFFFFF;

    opacity: 0.9;

}

.aboutMe h3 {
    font-weight: 100;
}

.aboutMe a:link {
    color:#FFFFFF;
}

.aboutMe a:visited {
    color:#ff6464;
}

.aboutMe a:hover {
    color:#ff0000;
}

.skills {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 0.09em;
    flex-direction: column;
    flex: 1 1 100;

    color: #FFFFFF;
}

.skills h2, h3 {
    font-weight: 100;
    margin-top:auto;
}

.experience {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 0.09em;
    flex: 1 1 100;

    color: #FFFFFF;
}

.experience h2 {
    font-weight: 100;
    margin-top:auto;
}


